<a href="https://colab.research.google.com/github/Linstan8996/-Computational-Thinking-and-Programming-Design/blob/master/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
sum = 0
for i in range(1, 10, 2):
     sum = sum + i
     print("when i is" , i ,",the sum is", sum)

when i is 1 ,the sum is 1
when i is 3 ,the sum is 4
when i is 5 ,the sum is 9
when i is 7 ,the sum is 16
when i is 9 ,the sum is 25

In [13]:
n = int(input('the number n ,'))
sum = 0
for i in range(1, n+1, 1):
    sum = sum + i*i
print(sum)

the number n ,5
55

In [16]:
start = 3
end = 13
step = 3
sum = 0
for i in  range(start, end, step):
     sum = sum + i
     print(sum)

3
9
18
30

In [18]:
for i in range(1 , 10, 1):
    for j in range(1,10,1):
         print(i, "*",j, "=", i*j, "\t" , sep="" , end = "")

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9	2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18	3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27	4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36	5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45	6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54	7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63	8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72	9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [25]:
for i in range(6):
    print(i)
    if i % 2 == 0:
         print(i, "is even")
    else:
         continue
         print(i, "is odd")

0
0 is even
1
2
2 is even
3
4
4 is even
5